<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/_abstract/root.css" />
    <link rel="stylesheet" href="/styles/_components/sidebar.css" />
    <link rel="stylesheet" href="/styles/_components/badges.css" />
    <link rel="stylesheet" href="/styles/_components/buttons.css" />
    <link rel="stylesheet" href="/styles/_pages/_dash/settings.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0e4308e3cd.js"
      crossorigin="anonymous"
    ></script>
    <meta content="Helper - Panel" property="og:title" />
    <meta
      content="A multipurpose discord bot, that can help you manage & entertain your server."
      property="og:description"
    />
    <meta content="https://helper.solar/discord" property="og:url" />
    <meta
      content="https://cdn.discordapp.com/attachments/608608598955917313/959205790856642630/helper_Logo.png"
      property="og:image"
    />
    <meta content="#FF2145" data-react-helmet="true" name="theme-color" />
    <title>Helper - Dash | <%= guild.id %></title>
  </head>
  <body>
    <div class="modules">
      <div class="nav"><%- include('../../../components/dash/sidebar'); %></div>
      <div class="main">
        <h2 class="badge beta">beta</h2>
        <div class="box">
          <div class="box__head">
            <h1>Main Settings</h1>
            <p>Custom simple settings for helper! & View Server Information</p>
          </div>
          <form
            action="/dashboard/<%= guild.id %>/settings?_method=PUT"
            method="post"
            id="form"
          >
            <div class="input">
              <h1>Nickname</h1>
              <input type="text" value="<%= nickname %>" name="nickname"/>
            </div>
        </form>
            <div class="stats">
              <div class="stat">
                <h1 class="stat__title"><%= guildData.premium %></h1>
                <p class="stat__about">Premium</p>
              </div>
              <div class="stat">
                <h1 class="stat__title">
                  <%= clientGuild.members.cache.size %>
                </h1>
                <p class="stat__about">Members</p>
              </div>
              <div class="stat">
                <h1 class="stat__title">
                  <%= clientGuild.channels.cache.size %>
                </h1>
                <p class="stat__about">Channels</p>
              </div>
              <div class="stat">
                <h1 class="stat__title">
                  <%= clientGuild.roles.cache.size %>
                </h1>
                <p class="stat__about">Roles</p>
              </div>
              <div class="stat">
                <h1 class="stat__title">
                  <%= Owner.user.tag %>
                </h1>
                <p class="stat__about">Owner</p>
              </div>
            </div>

            <button form="form"  class="btn secondary mb-5rem">Submit</button>
        </div>
      </div>
    </div>
  </body>
</html>
